<div *ngIf="resultadoHeroe">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-img [src]="rutaImagen" alt=""></ion-img>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-text class="ion-text-center">
        <h1>{{ resultadoHeroe.name }}</h1>
      </ion-text>
    </ion-row>
    <ion-row class="nombreHeroe">
      <ion-text>
        <p>
          {{ resultadoHeroe.description }}
        </p>
      </ion-text>
    </ion-row>
  </ion-grid>

  <ion-card *ngIf="resultadoHeroe.series.available != 0">
    <ion-card-header>
      <ion-card-title></ion-card-title>
      <ion-card-subtitle>Series en las que estuvo presente</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item
          
          (click)="redirectSerie(item.resourceURI)"
          *ngFor="let item of resultadoSerie.data.results"
        >
          <ion-label>{{ item.title }}</ion-label>
        </ion-item>
      </ion-list>
      <ion-infinite-scroll
        *ngIf="resultadoHeroe.series.available != resultadoSerie.data.count"
        (ionInfinite)="onIonInfinite($event)"
      >
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-card-content>
  </ion-card>

  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-button (click)="goBack()" expand="block">Volver</ion-button>
    </ion-row>
  </ion-grid>
</div>
