<ion-grid>
  <ion-row *ngFor="let comic of datos" class="ion-justify-content-center">
    <ion-col class="ion-text-center">
      <ion-card>
        <img
          alt=""
          [src]="
            'https://i.annihil.us/u/prod/marvel/i/mg' +
            comic.rutaImagen +
            '.' +
            comic.thumbnail.extension
          "
        />
        <ion-card-header>
          <ion-card-title>{{ comic.title }}</ion-card-title>
          <ion-card-subtitle>#{{ comic.id }}</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          {{ comic.description }}
        </ion-card-content>
        <ion-button [routerLink]="['/comic/', comic.id]" fill="clear"
          >Ver más</ion-button
        >
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-grid class="botonNav">
  <ion-row position="fixed" class="ion-text-center">
    <ion-col>
      <ion-fab vertical="bottom" horizontal="center" slot="fixed">
        <ion-fab-button>
          <ion-icon name="chevron-back-circle-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>

      <ion-button
        *ngIf="mostrarBotonAnterior()"
        (click)="passPage(-1)"
        [routerLink]="['/comics/', numPage - 1]"
      >
        <ion-icon name="chevron-back-circle-outline"></ion-icon>
      </ion-button>
    </ion-col>

    <ion-col *ngIf="mostrarBotonAvanzar()">
      <ion-button
        (click)="passPage(+1)"
        [routerLink]="['/comics/', numPage + 1]"
      >
        <ion-icon name="chevron-forward-circle-outline"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
